.requirements {
  min-height: 692px;
  background: #283593 center top no-repeat;
  background-size: cover;
  color: #fff;
  padding: 68px 0 52px;
  margin-bottom: 68px;
  &.lazy-bg--loaded {
    background-image: url('../img/bg-2.jpg');
  }
  @media (min-width: 1025px) {
    padding: 135px 0 100px;
  }
  @media (min-width: 992px) {
    padding: 135px 0 145px;
    margin-bottom: 135px;
  }
  @media (min-width: 768px) {
    padding: 115px 0 105px;
    margin-bottom: 113px;
  }
  
}

.requirements__flex {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.requirements__heading {
  color: #fff;
  font-family: $font1;
  font-size: 26px; 
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media (min-width: 992px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    font-size: 42px;
    width: 65%;
    margin-bottom: 40px;
  }
}

.requirements__text {
  color: #fefefe;
  font-family: $font2;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  p:not(:last-child) {
    margin-bottom: 24px;
    @media (min-width: 1025px) {
      margin-bottom: 20px;
    }
  }
}

.requirements__img {
  @media (max-width: 767px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  img {
    display: block;
    max-width: 100%;
    margin: auto; 
  }
}